@import "pure-min.scss";
@import "eye.scss";

* {
	font-family: 'Roboto','Helvetica Neue',Helvetica,arial,freesans,clean,sans-serif;
	color:#222;
}

a {
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	text-decoration: none;
	color:#aa3333;
	&:hover {
		color:hotpink;
	}
}

h1,h2,h3,h4,h5 {
	color:#222;
}
h4 {
	text-transform: uppercase;
	font-size:0.8em;
	font-weight:normal;
	color:#555;
}

ul {
	margin:0.5em 0;
	list-style-type:square;
	li {
		line-height:1.75em;

	}
}

#test {
	position: absolute;
	z-index: 1000;
}
.splash-container {
	position:fixed;
	top:0;
	width:100%;
	box-shadow:inset 10px 10px 50px -30px rgba(0,0,0,0.95);
	background: #eee;
}
.splash {
	-moz-transition:background 0.5s ease-in;
	-webkit-transition:background 0.5s ease-in;
	transition:background 0.5s ease-in;
	width:60em;
	max-width:100%;
	max-height:100%;
	overflow:hidden;
	height:500px;


	margin: 2em auto 0;
	padding: 3em 0.5em;

	text-shadow:-1px -1px 0px white;

	$roll-duration:2s;
	$bounce: cubic-bezier(0.880, 0.010, 0.520, 1.470);

	.splash-text {
		padding-right:4em;
	}
	.eyeball-1 {
		-webkit-transition:left $roll-duration $bounce;
		-moz-transition:left $roll-duration $bounce;
		transition:left $roll-duration $bounce;
		position:absolute;
		top:-2em;
	}

	h2,h3,h4,h5 {
		font-weight:normal;
	}
	h5 {
		-webkit-transition:all ease-in 3s;
		-moz-transition:all ease-in 3s;
		transition:all ease-in 3s;
	}
	h5.hidden {
		opacity:0;
	}
	em {
		font-size:130%;
		font-style: normal;
		letter-spacing: 105%;
	}
	.splash-head {
		font-size: 300%;
		margin: 0em 0;
		line-height: 1.2em;
		color:#433333
	}
	.section-description {
		color:#433333;
	}
	.header-image {
		position:relative;
	}
}
.splash-pusher {
	height:560px;
}

@media (max-width:900px) {
	.splash, .splash-pusher {
		display:none;
	}
}
@media (max-width:790px) {
	.pure-menu-fixed {
		position: static;
	}
}


#main {
	position:relative;
	z-index:1;
	background:#fefefe;
	border-top:1px solid #b7b7b7;
}


.top-header {
	.iconal {
		position: relative;
		height:24px;
		width:30px;
		display:block;
		text-align: center;
		padding: 5px 5px;
		&:hover {
			background:transparent;
		}
	}
	i {
		text-align: center;
		font-size:150%;
		width:30px;
	}
	a:hover {
		> i {
			font-size:200%;
			line-height:75%;
			text-shadow:-1px 1px 0px rgba(0,0,0,0.45);
		}
		> i.icon-github-sign {
			color:pink;
		}
		> i.icon-google-plus-sign {
			color:#d34836;
		}
		> i.icon-twitter-sign {
			color:#9AE4E8;
		}
		> i.icon-linkedin-sign {
			color:#4875B4;
		}
	}
}

.readable-section {
	position:relative;
	padding:45px 0;
	width:60em;
	max-width:100%;
	margin:auto;
	letter-spacing:normal;
	line-height:normal;
	min-height:50em;
	.flashy-header {
		position: absolute;
		top: 30em;
		left: -60%;
		width: 100%;
		text-align: right;
	}
	h1.readable-section-header {
		font-size: 500%;
		margin: 0;
		color: #fefefe;
		text-shadow:-1px 1px 4px #999, 1px 1px 0px #777;
		-webkit-transform: rotateZ(-90deg);
		-moz-transform: rotateZ(-90deg);
		transform: rotateZ(-90deg);
	}
	@media (max-width:500px) {
		.flashy-header {
			position: static;
			margin:1em;
			width:auto;
		}
		h1.readable-section-header {
			color:#222;
			text-shadow:none;
			text-align: left;
			font-size:300%;
			-webkit-transform: none;
			-moz-transform: none;
			transform: none;
		}
	}
	p {
		text-align: justify;
		line-height:1.75em;
		margin:1.25em 0;
	}
	p.overview {
		font-size: 1.25em;
		margin: 1em;
		text-align: right;
		font-style: italic;
	}
	.images {
		padding:1em;
	}
	img {
		width:100%;
		max-width:100%;
		height:auto;
	}
	.wall-of-text {
		padding:1em;
	}

	h2 {
		text-transform: uppercase;
		color: #222;
		display: inline-block;
		margin: 0;
		font-size: 1.4em;
	}
}

#lab {
	.project {
		padding:30px 0;
		border-bottom:1px solid #cecece;
	}
	.project-description {
		h3 {
			margin-bottom:0;
		}
		position:relative;
		margin:0 1em;
		p.date {
			margin-top:0;
			font-size:0.9em;
			color:#777;
		}
	}
	h3 a {
		text-decoration: none;
		color:inherit;
	}
	i.icon {
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
		font-size: 1.5em;
		color:#333;
		display: inline-block;
	}
	p i.icon {
		font-size:1em;
	}
	a.iconal:hover {
		color:hotpink;
		i.icon {
			color:#C44786;
		}
	}
}

#portfolio {
	.description {
		padding:1em;
	}
	.slide {
		margin-bottom:1em;
		padding: 1em;
		border: 1px solid #aaa;
		img {
			border:1px solid #eee;
		}
	}
}

.echoplexus-frame {
	width:100%;
	height:400px;
}
