.eyeball-1 {
	* {
		margin:0;
		padding:0;
		border-radius:1000px
	}
	.eyeball {
		-moz-transition:all 0.5s 0.25s ease-in-out;
		-webkit-transition:all 0.5s 0.25s ease-in-out;
		transition:all 0.5s 0.25s ease-in-out;
		width:500px; height:500px;
		position:relative; /* needs to be relative so that absolute items inside are positioned relatively to it */
		background:#efefef;
		box-shadow:inset -20px -20px 100px -20px rgba(0,0,0,0.75),inset 20px 20px 80px -40px rgba(0,0,0,0.75);
		bottom:10%;
	}
	.iris {
		-moz-transition:all 0.5s 0.25s ease-in-out;
		-webkit-transition:all 0.5s 0.25s ease-in-out;
		transition:all 0.5s 0.25s ease-in-out;
		width:40%;
		height:40%;
		position:absolute;
		left:30%;
		top:30%;
		background:rgba(20,50,150,1);
		box-shadow:inset -10px 0px 60px -20px black;
	}
	.pupil {
		z-index:1;
		-moz-transition:all 0.25s 0.25s ease-in-out;
		-webkit-transition:all 0.25s 0.25s ease-in-out;
		transition:all 0.5s ease-in;
		height:40%;
		width:40%;
		position:absolute; /* absolute s.t. it's absolutely positioned inside the container */
		margin:30%;
		background:#050505;
	}
	.rotation {
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg); 
		transform: rotate(10deg);
		position:absolute;
		top:50%;
		left:50%;
	}
	.deco {
		width:50%;
		height:50%;
		position:absolute;
		border-radius:0px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-left: 90px solid rgba(0,0,0,0.25);
		border-bottom: 10px solid transparent;
		left:50%;
		top:50%;
		margin-top:-5px;
	}
	.iris:hover {
		.pupil {
			-moz-transition:all 1.5s 0.25s ease-in-out;
			-webkit-transition:all 1.5s 0.25s ease-in-out;
			transition:all 1.5s 0.25s ease-in-out;
			width:80%;
			height:80%;
			margin:10%;
		}
		/*.deco {
			border-left: 55px solid rgba(0,0,0,0.05);
		}*/
		.specular {
			box-shadow:inset 5px 5px 5px -6px rgba(255,255,255,0.45);
		}
	}
	.indent {
		width:100%;
		height:100%;
		position:absolute;
		box-shadow:inset 5px 5px 15px rgba(0,0,0,0.7),
		inset -5px -5px 15px rgba(0,0,0,0.7);
	}
	.specular {
		-moz-transition:all 0.5s 0.25s ease-in-out;
		-webkit-transition:all 0.5s 0.25s ease-in-out;
		transition:all 0.5s 0.25s ease-in-out;
		width:90%;
		height:90%;
		position:absolute;
		box-shadow:inset 5px 5px 5px -4px rgba(255,255,255,0.45);
		margin:5%;
		top:0;
		left:0;
	}

	.move1 {
		.iris {
			-moz-transform:scale(0.79, 1) skewX(-8deg) translate(-90%,-20%);
			-webkit-transform:scale(0.79, 1) skewX(-8deg) translate(-90%,-20%);
			transform:scale(0.79, 1) skewX(-8deg) translate(-90%,-20%);
			box-shadow:inset 10px 10px 60px -20px black;
		}
		.specular {
			box-shadow:inset 5px 5px 5px 7px rgba(255,255,255,0.55);
			width:30%;
			height:30%;
			top:0px;
			left:-20px;

		}
	}
	.move2 {
		.iris {
			-moz-transform:scale(1, 1) translate(0px,-30%);
			-webkit-transform:scale(1, 1) translate(0px,-30%);
			transform:scale(1, 1) translate(0px,-30%);
			box-shadow:inset 10px 10px 60px -20px black;
		}
		.specular {
			box-shadow:inset 5px 5px 5px 7px rgba(255,255,255,0.55);
			width:30%;
			height:30%;
			top:0px;
			left:-20px;

		}
	}
	.move3 {
		.iris {
			-moz-transform:scale(1, 0.8) translate(0px,-100%);
			-webkit-transform:scale(1, 0.8) translate(0px,-100%);
			transform:scale(1, 0.8) translate(0px,-100%);
		}
		.specular {
			box-shadow:inset 5px 5px 5px 7px rgba(255,255,255,0.55);
			width:30%;
			height:30%;
			left:-20;
			top:50px;
		}
	}
	.blackened {
		.specular {
			opacity:0;
		}
		.pupil {
			background:black;
		}
		.iris {
			background:black !important;
			box-shadow:inset -3px -3px 0px rgba(255,255,255,0.8), inset 3px -3px 0px rgba(255,255,255,0.8)
		}
	}
}