<section id='codemap'>
  <h1><a href="#codemap">Code Map</a></h1>
  <h2>Third-party code</h2>
  <p>
    <strong>jQuery:</strong>
    Was very useful in the UI related aspects, binding events to keydown, mouseenter, click, and so on.
  </p>
  <p>
    <strong>jquery.mousewheel:</strong>
    Another library that might not provide complete support for all browsers.  I suppose mouse scrolling is something that isn't very well supported by the browsers?
  </p>
  <p>
    <strong>gl-matrix-1.1.js:</strong>
    Basically, the JS port of the algebra library.  I did not want to port the entire algebra library if it already existed.
  </p>
  <h2>Scene</h2>
  <p>
    <strong>scene.js:</strong>
    A skeleton for a scene.
  </p>
  <p>
    <strong>small_grassy_game.js, big_terrain.js:</strong>
    The content of these files are executed depending on which option you select in the select box.  These are probably what you might want to play with.
  </p>
  <h2>Application relevant</h2>
  <p>
    <strong>perlin.js:</strong>
    CPU implementation of improved Perlin noise.  Consulted in the LUT generation phase of terrain.  This is a port of Ken Perlin's original code that I did a while back.
  </p>
  <p>
    <strong>*.js:</strong>
    All other files have descriptive names of the feature sets they implement.  Please see the files themselves for more documentation.
  </p>
</section>
