<section id='futurework'>
  <h1><a href="#futurework">Future Work</a></h1>
  <ul>
    <li>Networking could very easily be achieved by using the browser's suite of networking tools to provide for saved game storage and multiplayer.</li>
    <li>HTML5 Local Storage might be used to store the results of any significant computations, such as the look-up tables used by the noise or current game state.</li>
    <li>Application source update delivery would be trivial by simply changing the pages involved.</li>
    <li>The scope of the project should be kept 'rather light' so as to avoid horrendous situations like repeatedly transmitting complex meshes over HTML.</li>
    <li>Use a spline with convex-hull property for camera animation and character movement</li>
    <li>For the reflection map, reject those items that are below the water surface.  This would probably be best accomplished through creation of a new shader, and this new shader could have intensive features like bump-mapping disabled.</li>
    <li>Tessellate the trees, perhaps sampling 1 circle randomly and using that as a piecewise approximation to a cylinder.  Use this circle as the top and bottom face for each of the segments.</li>
  </ul>
</section>
