<section id='introduction'>
  <h1><a href="#introduction">Introduction</a></h1>
  <p>For the final project of CS488 offered by the University of Waterloo, the students are instructed to set 10 computer graphics related objectives they need to achieve.  The instructor and TAs review this objective list and interact with the students to determine if it is sufficiently difficult enough to implement.  I'll discuss the objectives I chose here, those I accomplished, those I could not, and those I chose not to implement and why.</p>
  <p>
    To the reader: I do aim for correctness, but unfortunately cannot guarantee it.  If you'd like to e-mail me at
    <a href='mailto:ar.cameron@gmail.com'>ar.cameron@gmail.com</a>
    I'd be glad to respond to any concerns regarding accuracy.
  </p>
</section>
