<section id='manual'>
  <h1><a href="#manual">User Manual</a></h1>
  <h3>Running the application</h3>
  <ol>
    <li>
      Simplest: visit
      <a href='/cs488f2011project/app/index.html' target="_blank">this page</a>
      while running the latest Chrome or Firefox
    </li>
    <li>
      Via local files: it would be nice to download all the files and just double-click the index.html and have it run, no?
      However, due to browser security policy CORS, this isn't possible without doing something else.
      <ul>
        <li>
          Either start up a local proxy or local web server to host the   files, and work through that
        </li>
        <li>
          Or: Find out how to disable web security for your browser of choice.  In Chrome, this is "--disable-web-security" flag provided to the executable.
        </li>
      </ul>
      Without doing at least one of those things, you will be unable to see textures.
    </li>
  </ol>
  <h3>Using the application</h3>
  <ul>
    <li>
      Q, E keys will rotate the camera about the various corners of the game.  You may want to wait for one rotation to finish before pressing it again!
    </li>
    <li>
      W, A, S, D keys will move the camera in space
    </li>
    <li>
      Mouse towards top/bottom of game area will change camera elevation
    </li>
    <li>
      Mouse towards left/right of game area will rotate camera
    </li>
    <li>
      Mouse wheel scroll will zoom in/out
    </li>
    <li>
      When the game is active, and the menu is up, you can select Move/Attack/etc.  However, only Move works.  Press Enter to being picking your move, then use the arrow keys to select a destination, and enter to finalize your move.
    </li>
  </ul>
</section>
