<section id='objectives'>
  <h1><a href="#objectives">Objectives</a></h1>
  <ol class='objectives'>
    <li class='achieved'>
      <a href='#obj1'>Bump mapping</a>
    </li>
    <li class='achieved'>
      <a href='#obj2'>Texturing</a>
    </li>
    <li class='notachieved'>Screen-space ambient occlusion</li>
    <li class='notachieved'>Particle effects, animated</li>
    <li class='achieved'>
      <a href='#obj5'>Procedural terrain modeling via combinations of noise and blending functions</a>
    </li>
    <li class='notachieved'>Procedural architecture via CFG</li>
    <li class='achieved'>
      <a href='#obj7'>Camera animation on splines</a>
    </li>
    <li class='achieved'>
      <a href='#obj8'>AI pathing</a>
    </li>
    <li class='achieved'>
      <a href='#obj9'>Reflections on water surfaces</a>
    </li>
    <li class='achieved'>
      <a href='#obj10'>Trees</a>
    </li>
  </ol>
</section>
