<section id='gallery' class='anchored'>
  <h1><a href="#gallery">Gallery</a></h1>
  <div id="picasagallery"></div>
  <p>
    Images pulled via JavaScript from my Picasa album, <a href="https://picasaweb.google.com/ar.cameron/CS488A5ARayTracerWithAFocusOnVariousMaterialProperties">https://picasaweb.google.com/ar.cameron/CS488A5ARayTracerWithAFocusOnVariousMaterialProperties</a>
  </p>
</section>
