<section id="objectives" class='anchored'>
  <h1><a href="#objectives">Objectives</a></h1>
  <ol class='objectives'>
    <li class='half'>Shadows, both hard and soft</li>
    <li class='achieved'>Reflections, various degrees of reflectivity possible</li>
    <li class='notachieved'>Glossy surfaces</li>
    <li class='achieved'>Refraction, physically based according to differing indices of refraction</li>
    <li class='achieved'>Texture mapping</li>
    <li class='achieved'>Bump mapping</li>
    <li class='notachieved'>Uniform spatial subdivision to speed up rendering</li>
    <li class='notachieved'>Able to re-position camera in "real-time" to expedite scene creation</li>
    <li class='notachieved'>Progressive refinement via radiosity</li>
    <li class='achieved'>Unique final scene</li>
  </ol>
</section>
