<section id="vision" class='anchored'>
  <h1><a href="#vision">Initial Vision</a></h1>
  <p>I wanted to continue to explore various ray-tracing technologies, potential efficiency gains, and advanced rendering effects such as reflection, refraction, textures, bump mapping, and potentially radiosity-based global illumination techniques. The goal is to allow a user to create a realistic rendition of a scene, while still allowing the user to control the viewing angle and modify material properties without having to alter a script file and/or wait an absurd amount of time to see the final (potentially undesirable) rendition of the scene.</p>
  <p>The focus is on simulating material properties and their effects on light with respect to simple surfaces/objects, expanding to more complex surfaces if time permits.</p>
  <p>This project was designed in mind to alleviate my original frustrations with A4 &ndash; waiting inordinate amounts of time to see I had rendered a scene with no objects in it (poor camera placement), constant annoyance with tweaking small parameters that might be better tweaked in visual space to obtain a visually pleasing scene, and immediate user feedback with respect to rendering.</p>
</section>
