@import '_variables';

nav {
	padding:1em $page-base-horz-padding;
	width: $page-base-width;
	max-width:100%;
	margin:auto;

	a {
		display: inline-block;
		padding: 0 10px;
	  &:first-child {
	    padding-left: 0;
	  }
		&:not([href]) {
			color: black;
		}
	}
}

.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $page-background;
	z-index: 2;
	border-bottom: 1px solid #ddd;
}

.bottom-footer {
	position: relative;
	z-index: 1;
	background: #333;
	color: #eee;

	nav {
		font-size: 2em;
		color: #555;
		a {
			color: inherit;
			&:hover {
				color: $link-color-hover;
			}
		}
	}
}
