$page-base-width: 55rem;
$page-base-horz-padding: 1rem;
$page-background: #fefefe;

$li-padding: 2rem;
$splash-height: 600px;
$text-color: #222;
$link-color: rgba(41, 157, 221, 1);
$link-color-hover: hotpink;

$image-section-padding: 2rem;
$rough-height-of-fixed-nav: 3rem;
