$page-base-width: 55em;
$page-base-horz-padding: 1em;
$li-padding: 2em;
$splash-height: 600px;
$text-color: #222;
$link-color: rgba(41, 157, 221, 1);
$link-color-hover: hotpink;

$image-section-padding: 2em;
$rough-height-of-fixed-nav: 3em;
