* {
	font-family: 'Roboto','Helvetica Neue',Helvetica,arial,freesans,clean,sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #222;
}

.backgrounded {
	padding: 4em 2em 2em 2em !important;
	background: rgba(255, 255, 255, 0.9);
}

.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.75em 0;
	background: white;
	z-index: 2;
	border-bottom: 1px solid #ddd;

	.home {
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		list-style-type: none;
		line-height:normal;
		display: inline-block;
		li {
			display: inline-block;
			padding: 0 1em;
		}
	}
}

.bottom-footer {
	position: relative;
	z-index: 5;
	background: #333;
	color: #eee;
	padding: 2em;

	ul {
		margin: 0;
		list-style-type: none;
		line-height:normal;
		li {
			display: inline-block;
		}
	}

	a:hover {
		color: #ddd;
	}
}

ul.icons {
	font-size: 2em;
	color: #555;
	a {
		color: inherit;
	}
}

a {
	transition:all 0.25s ease-in-out;
	text-decoration: none;
	color: rgba(41, 157, 221, 1);
	&:hover {
		color: hotpink;
	}
}

.clearfix {
	&:after {
		content: ".";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

h1,h2,h3,h4,h5 {
	color:#222;
}
h4 {
	text-transform: uppercase;
	font-size:0.8em;
	font-weight:normal;
	color:#555;
}

ul {
	margin: 0;
	padding: 0;
}

$li-padding: 2em;
.readable-section {
	ul {
		margin: 0;
		padding: 0;
		margin-right: $li-padding;
		list-style-type:square;
		li {
			margin: 0;
			line-height:1.75em;
			position: relative;
			left: $li-padding;
		}
	}
}

#test {
	position: absolute;
	z-index: 1000;
}

$splash-height: 600px;
.splash-container {
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	height: $splash-height;
	box-shadow:inset 10px 10px 50px -30px rgba(0,0,0,0.95);
	background: #eee;
}
.splash-pusher {
	height: $splash-height;
}

@media (max-width: 80em) {
	.flashy-header {
		opacity: 0;
	}
}
@media (max-width: 45em) {
	.top-header {
		position: relative;
	}
	.top-header ul, .top-header ul li {
		display: block;
		margin: 0;
	}
	.top-header ul li {
		position: static;
		padding: 0.5em 1em;
	}
}
@media (max-width: 900px) {
	.splash, .splash-pusher {
		display:none;
	}
	.images {
		display: flex;
		align-content: center;
		justify-content: center;
	}
	.images-left, .images-right {
		width: 100% !important;
		float: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.slide {
		margin: 0.25em;
	}
}
@media (max-width: 600px) {
	.images {
		display: block;
	}
}

#main {
	position:relative;
	z-index:1;
	background:#fefefe;
	border-top: 1px solid #ddd;
}

.padded {
	padding: 0 1em;
}

.aligned-section {
	padding:0;
	width:60em;
	max-width:100%;
	margin:auto;
}
.readable-section {
	position:relative;
	padding:45px 0;
	width:60em;
	max-width:100%;
	margin:auto;
	letter-spacing:normal;
	line-height:normal;
	min-height:50em;
	.flashy-header {
		transition: opacity 0.5s ease-in-out;
		position: absolute;
		top: 30em;
		left: -60%;
		width: 100%;
		text-align: right;
	}
	h1.readable-section-header {
		font-size: 500%;
		margin: 0;
		color: #fefefe;
		text-shadow: -1px 2px 0px #999, 1px -1px #eee;
		transform: rotateZ(-90deg);
	}
	@media (max-width:500px) {
		h1.readable-section-header {
			color:#222;
			text-shadow:none;
			text-align: left;
			font-size:300%;
			transform: none;
		}
	}
	p {
		text-align: justify;
		line-height:1.75em;
		margin:1.25em 0;
	}
	p.overview {
		font-size: 1.25em;
		margin: 1em;
		text-align: right;
		font-style: italic;
	}
	img {
		width:100%;
		max-width:100%;
		height:auto;
	}
	.wall-of-text {
		padding:1em;
	}

	h2 {
		text-transform: uppercase;
		color: #222;
		display: inline-block;
		margin: 0;
		font-size: 1.4em;
	}
}

#lab {
	.project {
		@extend .clearfix;
		padding:30px 1em;
		border-bottom:1px solid #cecece;
	}
	.project-description {
		h3 {
			margin-bottom:0;
		}
		position:relative;
		p.date {
			margin-top:0;
			font-size:0.9em;
			color:#777;
		}
	}
	h3 a {
		text-decoration: none;
		color:inherit;
	}
	i.icon {
		transition:all 0.25s ease-in-out;
		font-size: 1.5em;
		color:#333;
		display: inline-block;
	}
	p i.icon {
		font-size:1em;
	}
	a.iconal:hover {
		color:hotpink;
		i.icon {
			color:#C44786;
		}
	}
}

#portfolio {
	@extend .clearfix;
	.description {
		padding:1em;
	}
	.slide {
		margin-bottom:1em;
		padding: 1em;
		border: 1px solid #aaa;
		img {
			border:1px solid #eee;
		}
	}
}

.slide {
	a, img {
		display: block;
	}
	margin-bottom: 2em;
}
.images .slide:last-child {
	margin-bottom: 0;
}

.annotation {
	background: #dfdfdf;
	padding: 1em;
	font-size: 0.8em;
	color: #777;
	font-style: italic;
}

$image-section-padding: 2em;
.images {
	position: relative;
	z-index: 20;
}
.images.below {
	clear: both;
}
.images-right {
	float: right;
	padding: 0 0 $image-section-padding $image-section-padding;
}
.images-left {
	float: left;
	padding: 0 $image-section-padding $image-section-padding 0;
}

@each $size in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
  .images-#{$size} {
		width: #{$size + '%'};
	}
}

.echoplexus-frame {
	width:100%;
	height:400px;
}

#resume {
	section {
		position: relative;
		@extend .clearfix;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 1em 2em;
	}
	.meta {
		position: absolute;
		top: 1em;
		right: 1em;
		text-align: right;
		font-size: 0.8em;
	}
	h2 {
		font-size: 1.5em;
		text-transform: none;
		font-weight: normal;
		font-style: italic;
	}
	h3 {
		font-size: 1.5em;
		font-weight: 200;
	}
	$subtle-grey: #ebebef;
	.position {
		padding: 1em;
		margin: 0 1em 1em 0;
		float: left;
		text-align: center;
		background: $subtle-grey;
		width: 10em;
	}
	$duration-width: 8rem;
	.job-title {
		font-weight: bold;
	}
	.job {
		padding-right: $duration-width;
		position: relative;
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid $subtle-grey;
	}
	.timeline-title {
		float: right;
		width: $duration-width;
		text-align: center;
	}
	.duration {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: $duration-width;
		text-align: center;
		.from, .to {
			position: absolute;
			width: 100%;
			color: #777;
			font-size: 0.8em;
			text-transform: uppercase;
		}
		.to {
			top: 0;
		}
		.from {
			bottom: 2em;
		}
	}
	@media (max-width: 700px) {
		.duration {
			position: static;
			display: inline;
			.from, .to {
				position: static;
				display: inline;
				width: auto;
			}
			.from:before {
				content: "From ";
				display: inline;
			}
			.to:before {
				content: " to ";
				display: inline;
			}
		}
		.meta {
			position: static;
			text-align: left;
			margin-top: 1em;
		}
		.job {
			padding-right: 0;
		}
		.timeline-title {
			display: none;
		}
	}
	@media (max-width: 456px) {
		.position {
			float: none;
			width: 100%;
			padding: 1em 0;
		}
	}
}
