@import '_variables';

.splash-container {
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	height: $splash-height;
}
.splash-pusher {
	height: $splash-height;
}

#main {
	position:relative;
	z-index:1;
	background: $page-background;
	border-top: 1px solid #ddd;
}

@import '_lab.screen';
@import '_portfolio.screen';

.slide {
	a, img {
		display: block;
	}
	margin-bottom: 2em;
	&:last-child {
		margin-bottom: 0;
	}
}

.annotation {
	background: #dfdfdf;
	padding: 1em;
	font-size: 0.8em;
	color: #777;
	font-style: italic;
}

.images {
	position: relative;
}
.images.below {
	clear: both;
}
.images-right {
	float: right;
	padding: 0 0 $image-section-padding $image-section-padding;
}
.images-left {
	float: left;
	padding: 0 $image-section-padding $image-section-padding 0;
}

@each $size in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
  .images-#{$size} {
		width: #{$size + '%'};
	}
}

.gallery {
	display: block;
	.slide {
		float: left;
		margin: 0;
		width: 25%;
		height: 250px;
		background-size: cover !important;
	}
}

.echoplexus-frame {
	width:100%;
	height:400px;
}

@media (max-width: $page-base-width) {
	.splash, .splash-pusher {
		display:none;
	}
	.images-left, .images-right {
		width: 100% !important;
		float: none !important;
	}
	.images {
		display: flex;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 0 1em 0 !important;
		padding: 0 !important;
	}
	.slide {
		margin: 0.25em;
    flex-shrink: 1;
    min-width: 25%;
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
		&:last-child {
			margin: 0.25em;
		}
	}
	.annotation {
		flex: 1;
	}
}
@media (max-width: 600px) {
	.images {
		display: block;
	}
}
