@import '_variables';



ul.icons {
	font-size: 2em;
	color: #555;
	a {
		color: inherit;
	}
}

.splash-container {
	position:fixed;
	top: 0;
	left: 0;
	width:100%;
	height: $splash-height;
}
.splash-pusher {
	height: $splash-height;
}

@media (max-width: 45em) {
	.top-header {
		position: relative;
	}
	.top-header ul, .top-header ul li {
		display: block;
		margin: 0;
	}
	.top-header ul li {
		position: static;
		padding: 0.5em 1em;
	}
}
@media (max-width: 900px) {
	.splash, .splash-pusher {
		display:none;
	}
	.images {
		display: flex;
		align-content: center;
		justify-content: center;
	}
	.images-left, .images-right {
		width: 100% !important;
		float: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.slide {
		margin: 0.25em;
	}
}
@media (max-width: 600px) {
	.images {
		display: block;
	}
}

#main {
	position:relative;
	z-index:1;
	background:#fefefe;
	border-top: 1px solid #ddd;
}

@import '_lab.screen';

#portfolio {
	.slide {
		margin-bottom:1em;
		padding: 1em;
		border: 1px solid #aaa;
		img {
			border:1px solid #eee;
		}
	}
}

.slide {
	a, img {
		display: block;
	}
	margin-bottom: 2em;
}
.images .slide:last-child {
	margin-bottom: 0;
}

.annotation {
	background: #dfdfdf;
	padding: 1em;
	font-size: 0.8em;
	color: #777;
	font-style: italic;
}

.images {
	position: relative;
}
.images.below {
	clear: both;
}
.images-right {
	float: right;
	padding: 0 0 $image-section-padding $image-section-padding;
}
.images-left {
	float: left;
	padding: 0 $image-section-padding $image-section-padding 0;
}

@each $size in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
  .images-#{$size} {
		width: #{$size + '%'};
	}
}

.gallery {
	display: block;
	.slide {
		float: left;
		margin: 0;
		width: 25%;
		height: 250px;
		background-size: cover !important;
	}
}

.echoplexus-frame {
	width:100%;
	height:400px;
}
