%footer.bottom-footer
  .aligned-section
    .padded
      %ul.icons
        %li
          %a.iconal.external.different-context{href: "https://github.com/qq99", title: "Github", target: "_blank"}
            %i.fa.fa-github
        %li
          %a.iconal.external.different-context{href: "http://codepen.io/qq99", title: "CodePen", target: "_blank"}
            %i.fa.fa-codepen
        %li
          %a.iconal.external.different-context{href: "https://twitter.com/dontqq", title: "Twitter", target: "_blank"}
            %i.fa.fa-twitter
        %li
          %a.iconal.external.different-context{href: "http://ca.linkedin.com/in/anthonycameron/", title: "LinkedIn", target: "_blank"}
            %i.fa.fa-linkedin
