%header.top-header
  .aligned-section
    .padded
      %ul
        %li
          %a.home{href: "/#", title: "Home"}
            %i.fa.fa-home
        %li
          %a{:href=>"/#lab"} Lab
        %li
          %a{:href=>"/#portfolio"} Portfolio
        %li
          %a{:href=>"/#philosophy"} Philosophy
        %li
          %a{:href=>"/resume.html"} Resume
