%title Anthony Cameron
%link{rel: "stylesheet", href: "/css/all.min.css", type: "text/css"}
%link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet"}
%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
%meta{name: "description", content: "Everything you need to know about Anthony Cameron: A collection of personal projects, featuring WebGL, GLSL shaders, JavaScript, C++.  A sample of my portfolio.  My resume.  My philosophy."}
%meta{name: "author", content: "Anthony Cameron"}
%meta{charset:'utf-8'}
