<div id="webglBackgroundBumps" class="anchor"></div>
<div class='project'>
  <div class='images images-left images-40'>
    <div class='slide'>
      <a href='/lab/background-bumps'>
        <img src='img/background-bumps.small.min.jpg'>
      </a>
      <div class='annotation'>Generally: the subtler the pattern, the better the result</div>
    </div>
    <div class='slide'>
      <a href='/lab/background-bumps'>
        <img src='img/background-bumps2.small.min.jpg'>
      </a>
    </div>
  </div>
  <div class='project-description'>
    <h1>
      <a href='#webglBackgroundBumps'>WebGL Background Bump Mapping</a>
    </h1>
    <p class='date'>12 May, 2012</p>
    <h4>The Goods</h4>
    <ul>
      <li>
        <a href='/lab/background-bumps'>Demo</a>
      </li>
      <li>
        <a href='/lab/background-bumps'>Documentation</a>
      </li>
    </ul>
    <h4>What is it?</h4>
    <p>Background textures have always been fairly flat and static things.  I set out to increase their (apparent) depth.</p>
    <p>It's not entirely practical, and in retrospect I'm not sure why I created it, but here it is!  I think it's kind of neat and kind of pretty.</p>
    <p>This project features WebGL, bump mapping, and the Phong reflection model to 'enhance' a websites background.  I don't particularly recommend anyone to use it in any kind of production site at this time (like most of WebGL).</p>
  </div>
</div>
