<div class='project' id='echoplexus'>
  <div class='images images-right images-40'>
    <div class='slide'>
      <a href='img/echoplexus-latest.min.png' target='_blank'>
        <img alt='chat' src='img/echoplexus-latest.small.min.png'>
      </a>
      <div class='annotation'>echoplexus running as Firefox App on ubuntu</div>
    </div>
    <div class='slide'>
      <a href='img/echoplexus_chat.min.jpg' target='_blank'>
        <img alt='chat' src='img/echoplexus_chat.small.min.jpg'>
      </a>
      <div class='annotation'>echoplexus used to be a lot darker!  It got a revamp in 2014 for greater appeal.</div>
    </div>
  </div>
  <div class='project-description'>
    <h1>
      <a href='#echoplexus'>echoplexus</a>
    </h1>
    <p class='date'>2 Feb, 2013</p>
    <h4>The Goods</h4>
    <ul>
      <li>
        <a class='iconal' href='https://echoplex.us' target='_blank' title='External link to echoplex.us'>
          Documentation
          <i class='fa fa-external-link'></i>
        </a>
      </li>
      <li>
        <a class='iconal' href='https://chat.echoplex.us' target='_blank' title='External link to chat.echoplex.us'>
          Demo
          <i class='fa fa-external-link'></i>
        </a>
      </li>
      <li>
        <a class='iconal' href='https://github.com/qq99/echoplexus' target='_blank' title='External link to the echoplexus project on github'>
          Code
          <i class='fa fa-github'></i>
        </a>
      </li>
    </ul>
    <h4>What is it?</h4>
    <p>Echoplexus is an anonymous, web-based, IRC-like chatting platform that makes its best effort to respect your privacy. It allows you to create public or private channels. You can encrypt your chats. You can secure a pseudonym for linkable anonymity. You can code and draw together in real time. You can make free and secure Peer2Peer video and voice calls with the people in your channel using WebRTC.</p>
    <p>
      For a full overview of all the features, please visit
      <a href='https://echoplex.us' target='blank'>echoplex.us.</a>
    </p>
    <p>
    <h4>Current status</h4>
    <p><a href="https://echoplex.us">echoplex.us</a> is stable, and still running as a demonstration of the project.  I no longer visit it regularly.  Occasionally, an expired SSL certificate brings it down and I struggle with the sad state of SSL providers.</p>
    <p>Development is currently stalled.  The userbase / interest just isn't there for it to be worthwhile to continue.  Due to the multi-player nature of the beast, I can't enjoy the project alone.  Further, if I were to work on it, I'd like to do a complete re-architecture, as the ad hoc nature of feature development meant things were getting complex and more difficult to maintain.</p>
  </div>
</div>
