<div class='project' id='echoplexus'>
  <div class='images images-right images-40'>
    <div class='slide'>
      <a href='img/echoplexus-latest.png' target='_blank'>
        <img alt='chat' src='img/echoplexus-latest.small.crushed.png'>
      </a>
      <div class='annotation'>echoplexus running as Firefox App on ubuntu</div>
    </div>
    <div class='slide'>
      <a href='img/echoplexus_chat.jpg' target='_blank'>
        <img alt='chat' src='img/echoplexus_chat.small.jpg'>
      </a>
      <div class='annotation'>echoplexus used to be a lot darker!  It got a revamp in 2014 for greater appeal.</div>
    </div>
  </div>
  <div class='project-description'>
    <h3>
      <a href='#echoplexus'>echoplexus</a>
    </h3>
    <p class='date'>2 Feb, 2013</p>
    <h4>The Goods</h4>
    <ul>
      <li>
        <a class='iconal' href='https://echoplex.us' target='_blank' title='External link to echoplex.us'>
          Documentation
          <i class='fa fa-external-link'></i>
        </a>
      </li>
      <li>
        <a class='iconal' href='https://chat.echoplex.us' target='_blank' title='External link to chat.echoplex.us'>
          Demo
          <i class='fa fa-external-link'></i>
        </a>
      </li>
      <li>
        <a class='iconal' href='https://github.com/qq99/echoplexus' target='_blank' title='External link to the echoplexus project on github'>
          Code
          <i class='fa fa-github'></i>
        </a>
      </li>
    </ul>
    <h4>What is it?</h4>
    <p>Echoplexus is an anonymous, web-based, IRC-like chatting platform that makes its best effort to respect your privacy. It allows you to create public or private channels. You can encrypt your chats. You can secure a pseudonym for linkable anonymity. You can code and draw together in real time. You can make free and secure Peer2Peer video and voice calls with the people in your channel using WebRTC.</p>
    <p>
      For a full overview of all the features, please visit
      <a href='https://echoplex.us' target='blank'>echoplex.us.</a>
    </p>
    <p>
    <h4>Interested?</h4>
    <p>
      I'd love it if you collaborated with us on
      <a class='iconal' href='https://github.com/qq99/echoplexus' target='_blank' title='External link to the echoplexus project on github'>
        github!
        <i class='fa fa-github'></i>
      </a>
    </p>
  </div>
</div>
