<div id="echoplexus" class="anchor"></div>
<div class='project'>
  <div class='images images-right images-40'>
    <div class='slide'>
      <a href='img/echoplexus-latest.min.png' target='_blank'>
        <img alt='chat' src='img/echoplexus-latest.small.min.png'>
      </a>
      <div class='annotation'>echoplexus running as Firefox App on ubuntu</div>
    </div>
    <div class='slide'>
      <a href='img/echoplexus_chat.min.jpg' target='_blank'>
        <img alt='chat' src='img/echoplexus_chat.small.min.jpg'>
      </a>
      <div class='annotation'>echoplexus used to be a lot darker!  It got a revamp in 2014 for greater appeal.</div>
    </div>
  </div>
  <div class='project-description'>
    <h1>
      <a href='#echoplexus'>echoplexus</a>
    </h1>
    <p class='date'>2 Feb, 2013</p>
    <h4>The Goods</h4>
    <ul>
      <li>
        <a class='iconal' href='https://github.com/qq99/echoplexus' target='_blank' title='External link to the echoplexus project on github'>
          Code
          <i class='fa fa-github'></i>
        </a>
      </li>
      <li>
        <a class='iconal' href='https://web.archive.org/web/20161217201426/https://echoplex.us/' target='_blank' title='External link to echoplex.us, courtesy of archive.org'>
          Documentation (archive.org)
          <i class='fa fa-external-link'></i>
        </a>
      </li>
    </ul>
    <h4>What is it?</h4>
    <p>Echoplexus was an anonymous, web-based, IRC-like chatting platform that made its best effort to respect your privacy.  Here's a list of some of the features:</p>
    <ul>
      <li>create and manage public or private channels</li>
      <li>encrypt your chats with a shared secret or PGP</li>
      <li>secure a pseudonym for linkable anonymity</li>
      <li>code (JS) and draw together in real time</li>
      <li>make free and secure Peer2Peer video and voice calls with the people in your channel using WebRTC</li>
    </ul>
    <h4>Current status</h4>
    <p>echoplex.us is dead. Now, a spammer owns the domain :/</p>
    <p>The userbase / interest just wasn't there for it to be worthwhile for me to continue working on it.  Due to the multi-player nature of the beast, I can't enjoy the project alone.  One day, I'd like to revisit the concept with a better intial design plan; the ad hoc nature of feature development meant things were getting complex and more difficult to maintain.</p>
  </div>
</div>
