<div class='project' id='cs488project'>
  <div class='images images-right images-50'>
    <div class='slide'>
      <a href='https://plus.google.com/photos/+AnthonyCamerona/albums/5631455218906031857' target='_blank'>
        <img src='img/rt.small.min.jpg'>
      </a>
    </div>
  </div>
  <div class='project-description'>
    <h1>
      <a href='#cs488project'>
        A ray-tracer with a focus on various material properties
      </a>
    </h1>
    <p class='date'>26 Jul, 2011</p>
    <h4>The Goods</h4>
    <ul>
      <li>
        <a href='cs488project/' target='_blank'>Documentation</a>
      </li>
      <li>
        <a href='cs488project/#gallery' target='_blank'>Gallery</a>
      </li>
    </ul>
    <h4>Executive Summary</h4>
    <p>Created for CS488 (Introduction to Computer Graphics) during Summer 2011 at the University of Waterloo as a final project.  Math in action.</p>
    <p>Render time: Approximately 2 minutes each.</p>
  </div>
</div>
