<!DOCTYPE html>
<html>
  <%- include('../_head', {
    section: 'portfolio',
    title: 'Portfolio'
  }) %>
  <body id='portfolio'>
    <%- include('../_header', {
      section: 'portfolio'
    }) %>
    <% include _section_portfolio %>
    <%- include('../_footer') %>
  </body>
</html>
