<footer class='bottom-footer'>
  <div class='aligned-section'>
    <div class='padded'>
      <ul class='icons'>
        <li>
          <a class='iconal external different-context' href='https://github.com/qq99' target='_blank' title='Github'>
            <i class='fa fa-github'></i>
          </a>
        </li>
        <li>
          <a class='iconal external different-context' href='http://codepen.io/qq99' target='_blank' title='CodePen'>
            <i class='fa fa-codepen'></i>
          </a>
        </li>
        <li>
          <a class='iconal external different-context' href='https://twitter.com/dontqq' target='_blank' title='Twitter'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a class='iconal external different-context' href='http://ca.linkedin.com/in/anthonycameron/' target='_blank' title='LinkedIn'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
