<head>
  <title><%= title %> - Anthony Cameron</title>
  <% if (section == 'resume') { %>
    <style>
      <% include ../../dist/css/resume.min.css %>
    </style>
  <% } else { %>
    <style>
      <% include ../../dist/css/main.min.css %>
    </style>
  <% } %>
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet'>
  <meta content='width=device-width,initial-scale=1' name='viewport'>
  <meta content='Everything you need to know about Anthony Cameron: A collection of personal projects, featuring WebGL, GLSL shaders, JavaScript, C++.  A sample of my portfolio.  My resume.  My philosophy.' name='description'>
  <meta content='Anthony Cameron' name='author'>
  <meta charset='utf-8'>
  <% if (env == 'prod') { %>
    <% include _ga %>
  <% } %>

</head>
