<header class='top-header'>
  <nav>
    <ul>
      <li>
        <a class='home' href='/#' title='Home'>
          <i class='fa fa-home'></i>
        </a>
      </li>
      <li>
        <% if ('lab' == section) { %>
          Lab
        <% } else { %>
          <a href='/'>Lab</a>
        <% } %>
      </li>
      <li>
        <% if ('portfolio' == section) { %>
          Portfolio
        <% } else { %>
          <a href='/portfolio'>Portfolio</a>
        <% } %>
      </li>
      <li>
        <% if ('philosophy' == section) { %>
          Philosophy
        <% } else { %>
          <a href='/philosophy'>Philosophy</a>
        <% } %>
      </li>
      <li>
        <% if ('resume' == section) { %>
          Resume
        <% } else { %>
          <a href='/resume'>Resume</a>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
