<header class='top-header'>
  <div class='aligned-section'>
    <div class='padded'>
      <ul>
        <li>
          <a class='home' href='/#' title='Home'>
            <i class='fa fa-home'></i>
          </a>
        </li>
        <li>
          <a href='/#lab'>Lab</a>
        </li>
        <li>
          <a href='/#portfolio'>Portfolio</a>
        </li>
        <li>
          <a href='/#philosophy'>Philosophy</a>
        </li>
        <li>
          <a href='/resume.html' target="_blank">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</header>
