<header class='top-header'>
  <nav>
    <a class='home' href='/#' title='Home'>
      <i class='fa fa-home'></i>
    </a>
    <% if ('lab' == section) { %>
      Lab
    <% } else { %>
      <a href='/'>Lab</a>
    <% } %>
    <% if ('portfolio' == section) { %>
      Portfolio
    <% } else { %>
      <a href='/portfolio'>Portfolio</a>
    <% } %>
    <% if ('philosophy' == section) { %>
      Philosophy
    <% } else { %>
      <a href='/philosophy'>Philosophy</a>
    <% } %>
    <% if ('resume' == section) { %>
      Resume
    <% } else { %>
      <a href='/resume'>Resume</a>
    <% } %>
  </nav>
</header>
