<div class='readable-section' id='lab'>
  <div class='flashy-header'>
    <h1 class='readable-section-header'>e-laboratory</h1>
  </div>
  <p class='overview'>I like to make digital things.</p>
  <% include project_overviews/_echoplexus %>
  <% include project_overviews/_background-bumps %>
  <% include project_overviews/_webgl-srpg %>
  <% include project_overviews/_perlin-shader %>
  <% include project_overviews/_raytracer %>
</div>
