<!DOCTYPE html>
<html>
  <%- include('_head', {
    section: 'main',
    title: 'Home'
  }) %>
  <body>
    <%- include('_header', {
      section: 'lab'
    }) %>
    <% include _crazyeye %>
    <section id='main'>
      <% include _section_lab %>
      <% include _footer %>
    </section>
  </body>
</html>
