<!DOCTYPE html>
<html>
  <% include _head %>
  <body>
    <div class='content'>
      <% include _header %>
      <% include _crazyeye %>
      <section id='main'>
        <% include _section_lab %>
        <% include _section_portfolio %>
        <% include _section_philosophy %>
        <% include _footer %>
      </section>
    </div>
  </body>
</html>
