<!DOCTYPE html>
<html>
  <%- include('_head', {
    section: 'philosophy',
    title: 'Philosophy'
  }) %>
  <body id='philosophy'>
    <%- include('_header', {
      section: 'philosophy'
    }) %>
    <% include _section_philosophy %>
    <% include _footer %>
  </body>
</html>
